<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body class="container-fluid">
    <!-- The nav -->
    <%- include("partials/nav") %>

    <!-- The main contents of the page -->
    <main id="home" class="container">
        <!-- Description Section -->
        <section class="description-section row my-5 align-items-center">
            <div class="col-12 col-lg-6 text-center my-5">
                <img class="section-photo img-fluid img-thumbnail" src="https://www.themarketingsage.com/wp-content/uploads/2015/08/about-me-leon-severan-we-buy-houses.jpg" alt="" height="100px">
            </div>
            <div class="col-12 col-lg-6 text-center">
                <div class="section-heading">About Me</span></div>
                <p class="section-description">
                    I am a hardworking and diligent CSE student at IIT Bombay (2023-27). I excel at critical thinking and find joy in unraveling the complexities of algorithms. Beyond the academic sphere, I actively seek opportunities such as competitve coding to apply my knowledge.
                </p>
            </div>
        </section>
    </main>
</body>
</html>