<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body class="container-fluid">
    <!-- The nav -->
    <%- include("partials/nav") %>

    <!-- The main contents of the page -->
    <main id="home" class="container">
        <!-- Description Section -->
        <section class="description-section row my-5 align-items-center">
            <div class="order-2 order-lg-2 col-12 col-lg-6 text-center">
                <div class="section-heading">My Hobbies</span></div>
                <ul class="section-description">
                    <li>I love to play cricket.</li>
                    <li>I am a very good swimmer.</li>
                    <li>I love to read novels, especially fiction.</li>
                    <li>I love to watch The Office.</li>
                </ul>
            </div>
            <div class="order-1 order-lg-1 col-12 col-lg-6 text-center my-5">
                <img class="section-photo img-fluid img-thumbnail" src="https://cdn.britannica.com/47/148847-050-C4FB5341/Cricket-bat-ball.jpg" alt="" height="100px">
            </div>
        </section>
    </main>
</body>
</html>